
[Unit]
Description=flashback

[Service]
WorkingDirectory=/root
Type=forking
ExecStart=/usr/sbin/flashback
KillMode=process

[Install]
WantedBy=multi-user.target

